/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMONS */

/* a{
    text-decoration: none;
    color: black;
} */

ul{
    list-style-type: none;
}

/* BUTTON TRY */
a.try {
    background-color: var(--button);
    color: white;
    padding: 5px 20px;
    text-decoration: none;    
}

header a {
    text-decoration: none;
    color: black;
}


.container-top-bot{
    width: 80%;
    margin: 0 auto;
    /* debug */
    /* text-align: center; */
}

.container {
    width: 60%;
    margin: 0 auto;
}

.flex-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.flex-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}


.flex {
    display: flex;
    justify-content: space-between;
    
}


.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}


/* VARIABLES */

:root {
    --button: #0061FF;
    --main-color: #B4D0E7;
    --internal-1cube: #A2D39B;
    --external-1cube: #D1E9CD;
    --cube2: #61082B;
    --cube3: #0093CE ;
    --cube4: #FF1C1C ;
    --cube5: #D5001F;
    --cube6: var(--main-color);
    --cube7: #0D2481;
    --cube8: #FFD830;
    --section-bot:var(--main-color) ;
    --title-sectionbot: #630C2C;
    --share: <i class="fa-solid fa-share-nodes"></i>;
    
}




/* ---------------------------------------------------------------------------- */

/* HEADER SECTION */

/* HEADER-TOP */

.header-top {
    width: 100%;
    height: 60px;
    /* debug */
    background-color: lightgray;
}

.left, .right{
    width: 50%;
}

.left {
    padding-left: 50px;
}

.right {
    padding-right: 80px;
}

ul.right li:last-child a{
    background-color: var(--button);
    color: white;
    padding: 5px 20px;    
}




/* HEADER/JUMBOTRON */

.main-header {
    background-color: var(--main-color);
    width: 100%;
    height: 600px;
    position: relative;      
    /* debug */
    border: 1px rgba(0, 0, 0, 0) solid;  /* DEVO ADOTTARE QUESTO STRATAGEMMA, ALTRIMENTI SE LA COMMENTO NON SO PERCHE TUTTO IL JUMBO MI SI DISCOSTA DL TOP VERSO BOT */ 
}

.jumbotron {
    width: 900px;
    height: 500px;
    margin-top: 50px;
    /* DEBUG */
    /* background-color: #0093CE; */
    /* border: 1px black solid;     */
}

/* MAIN H1 TITLE IN MIDDLE TO JUMBOTRON */
.jumbotron h1{
    font-size: calc(.8rem + 2vw);
}

/* CONTENITOR OF SUBTITLE AND IMAGE IN JUMBO */
.jumbotron .description {
    margin: 60px 0;
    
}


/* LEFT SIDE JUMBOTRON */
.subtitle {
    /* DEBUG */
    width: 40%;
    height: 300px;    
    /* background-color: rgb(50, 111, 161); */
    /* border: 1px black solid; */
}



/* DEVO CAPIRE PERCHE NON FUNZIONA */
.subtitle :nth-child(2) {
    background-color: var(--button) ;
    color: white;
} 

/* 
/* BUTTON TRY-FREE JUMBOTRON */
/* #try {
    background-color: var(--button);
    color: white;
    padding: 5px 20px;
} */
 

/* DOWN-ARROW FOR DOWNLOAD IN JUMBOTRON*/
section.subtitle i{
    font-size: 4rem;
    position:absolute;
    bottom: 10px;    
}


/* IMG JUMBO */
.jumbo {
    width: 60%;
    margin-top: 60px;
    margin-left: 20px;
    scale: 1.2;
    /* DEBUG */
    /* height: 300px;
    background-color: rgb(59, 126, 94);
    border: 1px black solid; */
}



/* ----------------------------------------------------------------------------- */

/* MAIN */

/* FIRST SECTION */

.first {
    margin-top: 60px;
}

.season {    
    height: 100px;
    
    /* debug */
    /* background-color: #A2D39B; */
    /* border: 1px black solid; */
}

.season h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.month, .year {
    vertical-align: middle;
}

.circle, .double-circle {
    vertical-align: middle;
}

/* SMALL RINGS OF CHOISE */
.season .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--button);
    border-radius: 50%;
    
}

/* CERCHIO INSCRITTO AL PRIMO CERCHIO, OLGA HA DETTO DI NON USARE CHECKBOX O SIMILI */
.double-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transform: translate(5px, -3px);
}


.year {
    margin-left: 60px;
}
.year .circle{
    border: 2px solid gray;
    background-color: white;
}

/* CARDS FIRST SECTION */

.single, .team, .agency {
    margin: 50px 0;
    height: 900px;
    width: calc(100% / 3 - (40px / 3));
    gap: 20px;
    /* background-color: lightgray; */
    border: 1px black solid;
    padding-left: 20px;
}

div .user {
    border: 1px solid gray;
    margin-left: -20px;
    padding: 5px 0;
    text-align: center;

}

.agency2 {
    width: 100%;                              
    height: 250px;   
    border: 1px black solid;
    /* debug */
    /* background-color: lightgray; */
}

.feature {
    margin-top: 15px;
}

.feature .type {
    margin: -15px 0 0 0;
    color: grey;
}


.buy .try {
    background-color: var(--button);
    padding: 10px 20px;
    
}

.buy li {
    margin: 20px 0 0 20px;

}


.caracteristic > li:nth-child(2):before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f07b";    
}

.caracteristic > li:nth-child(3):before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f1e0";    
}

/* ICONS BEFORE UL FIRST SUBSCRIPTION */
.single .caracteristic > li:first-child:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f007";    
}


/* ICONS BEFORE UL SECOND SUBSCRIPTION */

.team .caracteristic > li:first-child:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0c0";    
}

/* ICONS BEFORE UL THIRDSUBSCRIPTION */

.agency .caracteristic > li:first-child:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0c0";    
}

.agency .price a {
    text-decoration: none;
}

.rule {
    width: 20%;
    color: grey;
    margin: 20px 0 0 20px;
}

.feature .point {
    margin: 10px 0 0 20px;
}

.important-point li::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    color: var(--button);  
    margin: 0 0 10px 20px;
}

.important-point li{
    margin: 10px 0;
}

.agency2 .user {
    margin-left: 0;
}

.block-4 {
    position: relative;
    margin-left: 50px;
}

.block-4 .try {
    position: absolute;
    right: 50px;
    top: 10px;
}

.enterprise .sub {
    font-size: 1.7rem;
}

.enterprise h4 {
    position: absolute;
    top: 70px;
}

.block-4 .bot {
    position: absolute;
    top: 160px;
}

/* ---------------------------------------------------------------------------- */

/* SECOND SECTION */

.partner {
    margin-top: 50px;
    width: 100%;
    /* height: 500px; */
    /* deug */
    /* background-color: lightgray; */
    /* border: 1px black solid; */
}

.imagine {    
    width: calc(100% / 3 * 2);
        /* debug */
    /* height: 100%; */
    /* background-color: lightgray; */
    /* border: 1px black solid; */
    
}

.description-second-section {
    width: calc(100% / 3);
    margin: 30px 30px;
    height: 100%;
    /* debug */
    /* background-color: lightgray; */
    /* border: 1px black solid; */
}

.description-second-section p {
    padding: 40px 0;
}

.description-second-section a{
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid lightgray;
    position: relative;
    top: 30px;
}


/* ---------------------------------------------------------------------------- */

/* THIRD SECTION */

.third {
    margin-top: 100px;
}

.third h2, .third .footer-section {
    width: 100%;
    /* debug */
    /* background-color: lightcoral;
    border: 1px solid black; */
}



/* CARDS */


.card {
    width: calc(100% / 3);
    /* debug */
    /* background-color: lightgreen; */
    /* height: 300px; */
    /* border: 1px solid black; */
}

.card h2, .card p {
    margin: 30px 0;
}

.footer-section {
    padding: 70px 0;
}

.footer-section a {
    position: relative;
    top: 30px;
}

/* -------------------------------------------------------------------- */

/* FOURTH SECTION */

.fourth{
    margin-top: 50px;
    width: 100%;
    height: calc(100vw / 3);

}

.fourth .logo {
    width: calc(100% /3);
    height: calc(100vw /3);
}

.fourth .logo-right{
    width: calc(100% /3);
    height: calc(100vw /3);
}

.fourth div {
    width: 50%;
    height: 50%;
}

.fourth .designit{
    overflow-y: auto;
    background-color: lightgray;
    height: 100%;
}

.designit h2 {
    font-size: 3rem;
    margin-left: 30px;

}



.rule-bot {
    display: inline-block;
    border-top: 1px solid gray;
    height: 1px;
    width: 100px;
    margin: 30px 0 30px 30px;
    
}

.designit h5 {
    margin-left: 30px;
}

.designit p {
    margin-left: 30px;
    margin-bottom: 90px;
}

.fourth img {
    filter: invert();
    
}

.designit #autor {
    margin-left: 30px;
    
}

.fourth .logo, .fourth .designit, .fourth .logo-right {
    width: calc(100%/3);
    /* debug
    border: 1px solid black;
    background-color: #0093CE;     */
}

.fourth.flex-wrap > div {
    transform: scale(0.5);
}

div > img {
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

div #one{
    background-color: var(--internal-1cube);
    border: 20px solid var(--external-1cube);
}

div #two{
    background-color: var(--cube2);
}

div #three {
    background-color: var(--cube3);
    
}

div #four {
    background-color: var(--cube4);
}

div #five{
    background-color: var(--cube5);
}

div #six {
    background-color: var(--cube6);
}

div #seven {
    background-color: var(--cube7);
}

div #eight {
    background-color: var(--cube8);
}


/* ----------------------------------------------------------------------------------- */


/* FIFTH & SIXTH SECTIONS */

/* FIFHT SECTION  */
.tryfree {
    width: 100%;
    background-color:var(--main-color);
    /* debug; */
    height: 150px;    
}

.align-items {
    align-items: center;
    height: 150px;    

}


.tryfree h2 {
    color: #61123C;
    font-size: 2rem;
    width: 50%;
}

.tryfree button {
    padding: 10px 40px;
    border: none;
}
.sixth {
    padding-top: 30px;
    /* debug */
    height: 400px;
    /* background-color: #A2D39B; */
}

.ask ul {
    padding-top: 50px;
    list-style-type: none;
}

.ask li {
    padding: 20px 0;
    border-top: 1px solid black;
}

.ask li:last-child{
    border-bottom:  1px solid black;
}

.ask i {
    padding-right: 50px;
}




/* ------------------------------------------------------------------------------ */

/* FOOTER  */

footer {
    background-color: black;
    height: 500px;
    color: white;
    padding-top: 80px;
}

footer ul {
    list-style-type: none;    
}

footer a{
    text-decoration: none;
    color: white;
}

footer .minor-list{
    padding: 50px 0;
}

.minor-list li {
    padding: 10px 0;
}
.top-footer {
    height: 80%;
    /* border: 1px solid green; */

}

footer .language {
    /* border-top: 1px solid green; */
    height: 20%;
    padding: 30px 0;
    position: relative;
    
}

footer .block {
    width: 200px;
    background-color: grey;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
}

.language a{
    color: white;
}
