/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMONS */

.container-top-bot{
    width: 70%;
    margin: 0 auto;
    /* debug */
    /* text-align: center; */
}

.container {
    width: 60%;
    margin: 0 auto;
}

.flex-top {
    display: flex;
    justify-content: space-between;    
}


.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}




/* VARIABLES */

:root {
    --jubotron-header-top: #B4D0E7;
    --internal-1cube: #A2D39B;
    --external-1cube: #D1E9CD;
    --cube2: #61082B;
    --cube3: #0093CE ;
    --cube4: #FF1C1C ;
    --cube5: #D5001F;
    --cube6: var(--jubotron-header-top);
    --cube7: #0D2481;
    --cube8: #FFD830;
    --section-bot:var(--jubotron-header-top) ;
    --title-sectionbot: #630C2C;
}

/* ---------------------------------------------------------------------------- */

/* HEADER SECTION */

/* HEADER-TOP */

.header-top {
    width: 100%;
    height: 60px;
    /* debug */
    background-color: lightgray;
}


/* HEADER/JUMBOTRON */

.main-header {
    background-color: var(--jubotron-header-top);
    width: 100%;
    height: 500px;   
    border: 1px black solid;

    /* position: fixed;    DUBBIO CON SOTTO IL MARGINE */
    
    
}

.jumbotron {
    width: 900px;
    height: 400px;

    /* DEBUG */
    background-color: #0093CE;
    border: 1px black solid;

    /* margin-top: 50px;      DUBBIO CON SOPRA FIXED */
}


.subtitle {
    /* DEBUG */
    width: calc(100% / 2);
    height: 300px;
    background-color: rgb(50, 111, 161);
    border: 1px black solid;

}

.jumbo {
    /* DEBUG */
    width: calc(100% / 2);
    height: 300px;
    background-color: rgb(59, 126, 94);
    border: 1px black solid;

}

/* ----------------------------------------------------------------------------- */

/* MAIN */

/* FIRST SECTION */

.first {
    margin-top: 50px;
}

.season {
    /* debug */
    height: 100px;
    background-color: #A2D39B;
    border: 1px black solid;
}


/* CARDS FIRST SECTION */

.single, .team, .agency {
    height: 700px;
    width: calc(100% / 3);
    gap: 20px;
    background-color: lightgray;
    border: 1px black solid;
}


.agency2 {
    /* debug */
    width: 100%;                              
    height: 250px;   /* E' POSSIBILE INDICARE COME ALTEZZA, LA LARGHEZZA DELLA CARD SUPERIORE?*/
    background-color: lightgray;
    border: 1px black solid;
}

/* ---------------------------------------------------------------------------- */

/* SECOND SECTION */

.partner {
    /* deug */
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: lightgray;
    border: 1px black solid;
}

.imagine {

    width: calc(100% / 3 * 2);
    /* debug */
    height: 100%;
    background-color: lightgray;
    border: 1px black solid;
    
}

.description-second-section {
    width: calc(100% / 3);
    /* debug */
    height: 100%;
    background-color: lightgray;
    border: 1px black solid;
}

/* ---------------------------------------------------------------------------- */

/* THIRD SECTION */

.third {
    margin-top: 50px;
}

.third h2, .third .footer-section {
    width: 100%;
    background-color: lightcoral;
    border: 1px solid black;
}



/* CARDS */


.card {
    /* debug */
    width: calc(100% / 3);
    background-color: lightgreen;
    height: 300px;
    border: 1px solid black;
}


/* -------------------------------------------------------------------- */

/* FOURTH SECTION */

.fourth{
    margin-top: 50px;
    width: 100%;
    height: 400px;
}

.fourth .designit{
    overflow-y: auto;
}



.fourth .logo, .fourth .designit, .fourth .logo-right {
    /* debug */
    border: 1px solid black;
    width: calc(100%/3);
    background-color: #0093CE;    
}


/* ----------------------------------------------------------------------------------- */


/* FIFTH & SIXTH SECTIONS */

/* FIFHT SECTION  */
.tryfree {
    width: 100%;
    background-color:var(--jubotron-header-top);
    /* debug; */
    height: 150px;
    
}

.sixth {
    padding-top: 30px;
    /* debug */
    height: 400px;
    background-color: #A2D39B;
}

.ask ul {
    padding-top: 50px;
    list-style-type: none;
}

.ask li {
    padding: 20px 0;
    border: 1px solid black;


}

/* ------------------------------------------------------------------------------ */

/* FOOTER  */

footer {
    background-color: black;
    height: 500px;
    color: white;
    padding-top: 80px;
}

footer ul {
    list-style-type: none;
    
}

.top-footer {
    height: 80%;
    border: 1px solid green;

}

footer .language {
    border: 1px solid green;
    height: 20%;
    padding: 30px 0;
    

}
